body{
    text-align: center;
    color: green;
    background-color: black;
}

h1 {
    font-size: 85px;   
}

#signupForm {
    text-align: left;
    margin-left: 40em;
    
}

#welcome {
    color: Blue;
}

input[type=text]{
    color: green;
    background-color: black;
    font-weight: bold;
}

input[type=password]{
    color: green;
    background-color: black;
    font-weight: bold;
}

.state {
    color: green;
    background-color: black;
    font-weight: bold;
}

.county {
    color: green;
    background-color: black;
    font-weight: bold;
}

input[type=submit] {
    color: green;
    border: 4px;
    padding: 15px 30px;
    margin: 4px 2px;
    cursor: pointer;
}